 .banner {
        width: 80%;
        margin: 1% 0 2% 10%;
      }
      
      .carousel-item {
        width: 80vw;
        margin-left: 10vw;
        max-height: 60vh;
        overflow: hidden;
      }
      
      img {
        width: 100%;
      }

      /* #carousel2 {
        background-image: url("../images/Fashion_girl.png");
        background-size: cover; */

